<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Please Sign Up <small>It's free and always will be.</small></h2>
    <%= render 'form' %>
  </div>
</div>
