<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
  </p>
  <p>
    <strong>Image:</strong>
    <% # if @user.image? %>
      <% # image_tag @user.image.url :medium %>
    <% # else %>
        No Image
    <% # end %>
  </p>
<p>
  <strong>Bio:</strong>
  <% #@recipe.bio %>
</p>
